/* PROPIEDADES GENERALES */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff; 
    min-height: 100vh;
    overflow-x: hidden; 
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(164, 196, 225) 100%);
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 80px 30px 50px;
    display: flex;
    object-fit: cover;
    justify-content: space-between;
    align-items: center;
    z-index: 2000;
}

header .logo{
    width: 15vmax;
    cursor: pointer;
}

header .home{
    color: #005f15;
    font-size: 5vmax;
    text-align: center;
    font-family: 'Rancho', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li{
    list-style: none;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    padding: 6px 15px;
    border-radius: 20px;
    color: #7b4000;
}

nav ul li a:hover,
nav ul li a.active{
    background: #DDCCDD;
    color: #f17000;
}

section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow: hidden;
}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #fff, transparent);
    z-index: 10;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    
}

#persona{
    animation-name: moedas;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: all 0.3s ease-in-out;

    animation-delay: 0.1s;
    
}

#touchscreen {
    position: absolute;
    top: 30vh;
    left: 3vh;
    height: 13vh;
    object-fit: cover;
    pointer-events: none;
    z-index: 2000;
    animation-name: touch;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition: all 0.3s ease-in-out;
    animation-delay: 2.5s;
}

.pulse-brilho {
    animation: pulse-brilho .7s infinite;
    animation-duration: 0.3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: pulse-brilho;
}
@keyframes pulse-brilho{0%{transform:scale(1);filter:brightness(80%)}to{transform:scale(1.1);filter:brightness(100%)}}

@keyframes touch {
    0% {
      transform: translateY(0%);
      opacity: 0;
    }
    50%{
      transform: translateY(30%);
      opacity: 100;
    }
    100% {
      transform: translateY(0%);
      opacity: 0;
    }
  }

@keyframes moedas {
    0% {
      transform: translateY(0%);
    }
    50%{
      transform: translateY(7%);
    }
    100% {
      transform: translateY(0%);
    }
  }

section #slogan{
    position: absolute;
    font-family: 'Luckiest Guy', cursive;
    color:#f17000;
    font-size: 4vmax;
    text-align: center;
    line-height: 0.8em;
    white-space: nowrap;
    transform: translateY(-200px);
    margin-left: 10vw;   
}

#btn{
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    background: #ff9c46;
    border-radius: 20px; 
    transform: translateY(20px); 
    transform: translateX(60px); 
}
section #btn:hover{
    background: #f17000;
}

.sec{
    background: linear-gradient(to top, #6eb698, #fff);
    position: relative;
    padding: 80px;
}

.sec h2{
    font-size: 3.5vw;
    color: #0b3201;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Rancho', sans-serif;
}

.sec h3{
    font-size: 2vw;
    color: #222;
    margin-bottom: 10px;
    font-family: 'Rancho', sans-serif;
}

.sec p{
    font-size: 2.2em;
    color: rgb(72, 105, 122);
    font-family: 'Lobster', cursive;
}

.sec p span{
    font-size: 1.2em;
    color: rgb(72, 105, 122);
    font-family: 'Lobster', cursive;
}

.home-para {
    font-size: 4.5rem;
    margin: 5rem;
}

.big-text {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 1;
    margin: 0 2rem;
    color: #fff;
}

.border{
    position: absolute;
    width: 0%;
    height: 3px;
    background-color: #333;
    bottom: 0;
    left: 0;
}
.shadow{
    position: absolute;
    bottom: 100%;
    height: 300px;
    width: 100%;
    left: 0;
    z-index: 20;
    background: linear-gradient(to top, #151515, transparent);
}

/* AHORA HAREMOS EL RESPONSIVO */
@media (max-width: 991px){
    

    header .home {
        font-size: 6vmax;
    }
    section #slogan {
        font-size: 5vmax;
    }
    .sec{
        padding: 60px;
        grid-template-columns: 1fr;
    }
    .sec h2{
        font-size: 5.5vw;
        font-weight:bold;
    }
    .sec h3{
        font-size: 6vw;
    }
    .sec p{
        font-size: 1.3em;
    }
    .sec p span{
        font-size: 1.3em;
    }
    header .menulist{
        opacity: 0;
    }
    nav ul{
        display: none;
        opacity: 0;
        visibility: hidden;
    }
    nav.active ul{
        position: relative;
        top: 50px;
        margin-left: -150px;
        display: flex;
        opacity: 1;
        visibility: visible;
    }    
    header .menu{
        position: absolute;
        right: 40px;
        width: 40px;
        height: 40px;
        cursor: pointer;
        background-image:  url('./../images/lista.svg');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(600%);
    }
    header .menu.active{
        background-image: url('./../images/close.svg');
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
        filter: brightness(600%);
    }
}